.gallary {
  max-width: 880px;
  margin: 0 auto 66px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
}

@media screen and (max-width: 900px) {
  .gallary {
    margin: 0 19px 66px;
  }
}

@media screen and (max-width: 900px) {
  .gallary {
    margin-bottom: 48px;
  }
}
