.popup-edit__input {
  margin: 0 auto 30px;
  padding: 0 0 13px 0;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-bottom: 1px solid #00000033;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}
